{
   "server": true,
   "datacenter": "dc1",
   "client_addr": "0.0.0.0",
   "bind_addr": "{{ansible_ssh_host}}",
   "node_name": "{{ansible_ssh_host}}",
   "enable_syslog": true,
   "bootstrap_expect": 2,
   "ui": true,
   "retry_interval": "3s",
   "rejoin_after_leave": true,
   "data_dir": "/data/consul",
   "recursors" : [ "8.8.8.8" ],
   "ports" : {
     "dns" : 53,
     "http": 8500,
     "server": 8300
  },
   "retry_join": {{consul_cluster_hosts }}
}
